:root {
    --clr-purple-gradient: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    --clr-headlinetextblack: #131022; 
    --clr-textgray: #585C7B;
}
.darkmode{
}


* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page1 {
    
    font-family: "manrope";

    background: var(--clr-purple-gradient);
    /* /width: 100%; */
    height: 100vh; */
    /* min-height: 100vh; */
    border:;
    margin: 5px;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;

    gap:2rem;

}

.navbar{
    inline-size: -webkit-fill-available;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    max-width: 100svh;

}
.headcontainer {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
    /* border: solid black; */
    width: 100%;
    height: 100%;
}



.darkmodetext {
    display: none;
    font-size: 16px;
    font-weight: 600;
}

    .adaptive-btn {   
    width: 60px;
    height: 30px;
    display: inline-block;
    position: relative;


    input[type="checkbox"] {
        /* appearance: none; */
        width: 0;
        height: 0;
        opacity: 0;
    }
    input[type="checkbox"]:focus-visible + .slider {
        outline: 1px solid rebeccapurple;
        outline-offset: 2px;
    }
    .slider {
        position:absolute;
        inset: 0;
        background-color: rgb(179, 179, 179);
        border-radius: 100vw;
        box-shadow: inset 0 0 4px rgb(5, 5, 5);
        cursor: pointer;
    }

    }

    .slider::before {
        content: '';
        position:absolute;
        margin-left: 3px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 80%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.356);

        transition: all 400ms;
    }

    input[type="checkbox"]:checked ~ .slider::before {
        left: calc(100% - 30px);
        background-color: rgb(255, 255, 255)
    }
    input[type="checkbox"]:checked ~ .slider {
        background-color: #6366F1;
    }







.image {

    display:none
}
.signin {
    display: none;
}
.menyknapp {
    display:flex;
}
    
.main {
    display:flex;
    flex-direction: column;
    align-items: center;
    .text {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }
    .toptext{
        font-size: 34.1px;
        font-weight: 900;
        text-align: center;
    }

}    
    
.download-mobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}    

.bottompart { 

    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:auto;
    padding-bottom: 2rem; 

}   
 .downbutton {
    margin-right: 2rem;
 }

 @container(min-width: 500px) {
    .bottompart{
        display: none;
    }
 }

    
 @media (max-width:768px) {
    .download-tablet{
        display: none;
    }
    .bottompart-tablet{
        display: none;
    }
 }   

 }


@media (min-width:768px) {
    .download-mobile{
        display:none;
    }
    .darkmodetext{
        display: flex;
    }  

}


@media (min-width:1400px){
    .menyknapp{
        display:none;
    }
}
@media (min-width:1400px) {
    .signin {
        display: flex ;
    }
}
@media (max-width:1400px) {
    .features {
        display:none
       }




/* 
.download-tablet{
    display: flex;
    
} */



/* :root {
    --color-dark: #0B0F19 ;
    --color-primary: #6366F1;
    --color-gray: #9397AD ;
    --color-white: #ffffff ;

    --container-padding: 1rem;
    --transition-time: all 0.2s;
}

.firstpagetext {
        color: #131022;
        font-weight: 800;
        font-size: 34.1px;
        text-align: center;

       p {
        color: #585C7B;
        font-size: 18px;
        font-weight: 400;
       }
}

* {
    box-sizing: border-box;
}

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    width: 100%;
    height: 100vh;
    /* gör inte oppacity utanför background.  */
    /* } */

/* body {


    font-family: "manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--color-primary);
    text-decoration: none;

}
a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}



.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary i {
    margin-right: 0.4rem;

}

.btn-mobile {
    background-color: transparent;
    border:none;
    font-size: 3rem;
}

.navbar {
    display:none
}

.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color:var(--color-primary);
    text-decoration: underline;
}
.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

#appstore {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#googleplay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.infobar{
    display: flex;
    gap: 1rem;
    /* background-color: #cccccc; */
    /* align-items: center;
    justify-content: center;
   p {
    color: #585C7B;
    font-size: 14px;
    font-family: "manrope";
    font-weight: 400;
   }
} */


/* .box {
    background-color: #6366F1;
    padding: 1rem;

}


@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    heaader .container {
        gap: 3rem;
    }
}


@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    header .container{
        grid-template: auto 1fr auto auto;
        gap: 2rem;
    }

    #auth-signin {
        display: block;
    }

    
    .navbar {
        display:block;
    }
    
    .btn-mobile {
        display:none;

    }
}

.Page2 div {


    display: flex;
    justify-items: center;
    align-items: center;


    background-color: #d5d9e4;
    padding: 1rem;
    border: 10px solid #6366F1;
    font-family: "manrope";
    
.RubrikSida2 {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin:auto;

TextUnderRubrikSida2 {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin:auto; */
}

    
}    
    
    
    
    
    /* #Toptext {
        display: flex;
        color: #131022;
        font-size: 27.9px;
        font-weight: 900;
    }
    
    #Bottomtext {
        color: #585C7B;
        font-size: 18px;
        font-style: 400;
        font-weight: 400;
    } */
}

/* .picture {
    margin-bottom: auto;
}

.EasyPayments {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr ;
    /* display: grid;
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto); */



/* .text { */

    /* background-color: #ffffff;
    padding: 1rem;
    border: 10px solid rgb(130, 57, 148); */


/* .Page3 {
    border: solid black;
    max-width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border: 10px solid #6366F1;
    font-family: "manrope";
    background: #F3F6FF;
}

.Page3HeadLine1 {
    color: #131022;
    max-width: 300px;
    font-weight: 800;
    font-size: 27.9px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: auto; */

/* .Page3PictureOfMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
} */

/* }

.Page3SecondHeadLine {
    color: #131022;
    max-width: 300px;
    font-weight: 800;
    font-size: 21.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
    }

    .Page3UnderText {
        color: #585C7B;
        max-width: 300px;
        font-weight: 400;
        font-size: 16x;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: auto;
    }
.Page4{
    border: solid black;
   

}


.Page4HeadLine{
    display: flex;
    justify-content: center;
    padding: 2rem;
    max-width: 400px;
    font-family: "manrope";
    color:#131022;
    font-weight:900 ;
    font-size:24.7px ;
}

.Page4UnderRubrik{
    max-width: 400px;
    display:flex;
    justify-content: center;
    padding:2rem;
    color: #585C7B;
    font-family: "manrope";
    font-weight: 300;
    font-size: 18px;
}

    .Storbox{
        max-width: 400px;
        display: flex;
        flex-direction:column;
        color: black;
        padding: 1rem;
        border:solid;
    }

    .halvstorbox{
        max-width: 400px;
        display: flex;
        flex-direction: row;
    }

    .mellanboxvänster{
        display:flex;
        flex:1;
        color: #131022;
        font-size: 16px;
        font-weight: 600 ;
        border:solid black
    }
    .Page4Button{
        display:flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        background-color: #ffffff;
        border: solid black;

        #Page4ButtonContact{
            border:none;
            display: flex;
            justify-content: center;
            align-content: center;
            color: #ffffff;
            background-color: #6366F1 ;
            border-radius: 6px;
            margin-top:2rem;
            padding: 15px 40px;

        }
    }

    .mellanboxhöger{
        color: black;
        border:solid;
    }

.Newsletterbox{
    display:flex;
    flex-direction: row;
    background-color: #F3F6FF ;
    border: solid black;
    padding: 1rem;
}

.Newsletterpicture{
    display:flex;
    justify-content: left;
    border:solid black;
    padding: 1rem;
}

.Newslettertext{
    color: #131022;
    font-weight: 800;
    font-size: 21.6px;
    border:solid black;
    padding: 1rem;
}






#Subscribebutton {
    Border:solid rgb(0, 0, 0);
    padding: 1rem;
    
}

.MailAndButton{
    border: solid black;
    display: flex;
    flex-direction: row;
}

.MailPicture{
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: solid black;
    padding:1rem;
}

.Email {
    display:flex;
    justify-content: center;
    border:solid black;
    padding: 1rem;

}
.Emailtext{
    display: flex;
    justify-content: left;
    align-content: left;
    color: #B4B7C9;
    font-size: 16px;
    font-weight: 300;
    padding-right: 5rem;;
}

.Subscribebutton{
    border:solid black;
    padding: 1rem;
}

#SubscribeButton{
    flex:1;
    background-color: #6366F1;
    color: white;

}



.Footer{
    background-color: white;
}
.TextFooter{
    font-family: "Manrope";
    color: #9397AD;
    font-size: 14px;
    font-weight: 300; */



/* 

#first {
    
    background:linear-gradient(to bottom, rgb(241, 244, 253)83%, rgb(218, 70, 239)42%, rgb(99, 102, 241)0%)
}

.picturespage2 {
    display: flex;
    gap: 5px;
}
.page2firstheader {
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    
}

.page2secondtext {
    font-family: "Manrope", san-serif;
    font-size: 18px;
}

.Easypayments {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
}

.Easypaymentext {
    font-family: "manrope";
    font-weight: 400;
} */









/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Page3 {
    width: 80%;
    margin: 0 auto;
    
    h2 {font-family: "manrope";
    font-size: 40px;
    color: #0B0F19;
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
}

.ruta {
        background-color: #F3F6FF;
        padding: 1rem;
        display: grid;
        place-items: center;
    }

#ruta-1 {
    grid-column: 1 / 6 ;
    grid-row: 1 / 1;
}
#ruta-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
}
#ruta-3 {
    grid-column: 2 / 3;
    grid-row:  2 / 6;
}
#ruta-4 {
    grid-column: 3 / 4 ;
    grid-row: 2 / 6;
}
#ruta-5 {
    grid-column: 1 / 6;
    grid-row: 6 / 6;
    h4 {
        display:flex;
        align-items: center;
        align-items: flex-start;
        font-family: "manrope";
        font-size: 24px ;
        color: 0B0F19;
        opacity:80%;
        text-align: center;

    }
    p{
        text-align: center;
        font-family: "manrope";
        color: #565973;
        opacity: 100%;
    }
} */




















/* 

.page4 {
    background-color: #ffffff;
    margin: 2rem;
    width: 1000px;
    height: 1077px;
}
.textpage4 {
    color: #0B0F19;
    font-weight: 900;
    font-family: "manrope";

} 
.Checkmarktext1 {
    
    font-family: "manrope";
    color: #565973;
    font-size: 16px;
    display:inline-block
}
.page4picture {
    display: inline-block;

}
.page4secondtext {
    color: #0B0F19;
    font-size: 32px;
    font-family: "manrope";
} */



