:root {
    --clr-purple-gradient: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    --clr-headlinetextblack: #131022; 
    --clr-textgray: #585C7B;
    --font: "manrope";
    --backgroundclr: #0B0F19;
    --buttontext: white;
    --NEW-gradient:linear-gradient(0deg, rgba(99,102,241,0.1) 0%, rgba(241,244,253,0.05) 7%, rgba(218,70,239,0.07) 83%);
}
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    header {
    
    font-family: "manrope";

    background: var(--clr-purple-gradient);
    margin: 5px;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;

    gap:2rem;

}

.navbar{
    inline-size: -webkit-fill-available;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    max-width: 100svh;

}
.headcontainer {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
    /* border: solid black; */
    width: 100%;
    height: 100%;
}



.darkmodetext {
    display: none;
    font-size: 16px;
    font-weight: 600;
}

    .adaptive-btn {   
    width: 60px;
    height: 30px;
    display: inline-block;
    position: relative;


    input[type="checkbox"] {
        /* appearance: none; */
        width: 0;
        height: 0;
        opacity: 0;
    }
    input[type="checkbox"]:focus-visible + .slider {
        outline: 1px solid rebeccapurple;
        outline-offset: 2px;
    }
    .slider {
        position:absolute;
        inset: 0;
        background-color: rgb(179, 179, 179);
        border-radius: 100vw;
        box-shadow: inset 0 0 4px rgb(5, 5, 5);
        cursor: pointer;
    }

    

    .slider::before {
        content: '';
        position:absolute;
        margin-left: 3px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 80%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.356);

        transition: all 400ms;
    }

    input[type="checkbox"]:checked ~ .slider::before {
        left: calc(100% - 30px);
        background-color: rgb(255, 255, 255)
    }
    input[type="checkbox"]:checked ~ .slider {
        background-color: #6366F1;
    }







.image {

    display:none
}
.signin {
    display: none;
}
.menyknapp {
    display:flex;
}
    
    
.darkmodetext{
        display: flex;
}
.btn-app-download {
    background-color: var(--backgroundclr);
    color:var(--buttontext);
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

}

#hero {
    overflow:hidden;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    display: grid;
    background: var(--NEW-gradient);

}

#hero .container {
    display: grid;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "headline images  " 
                            "content images  ";

}

.headline {
    
    grid-area: headline;
    text-align: left;
    font-family: "manrope"; 
}

p{
    font-family: "manrope";
}


h1 {
    text-align: left;
    font-size: 56px;
    font-weight: 800;
    
}

.content {
    grid-area: content;
    text-align: left;
}

.buttons {
    justify-content: left;
    display: flex;
    gap: 1rem;
    
}
.discovermore {
    color: #565973;
    display:flex;
    gap:1rem;
    margin-top: 2rem;
    text-align: center;
    font-family: "manrope";
    align-items: center;
    justify-content: left;
}



.btn-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px;
    background-color: #9e9e9e; 
    color: rgb(0, 0, 0); 
    border-radius: 50%; 
}

.images { 
    display: grid;
    grid-area: images;
    position: relative;
   
        .img-back {
        position: aboslute;
        z-index: -10;
        bottom: 0;
        right: 100px;
        width: 70%;
        height: auto;

        }
        .img-front {
        position: absolute;
        z-index: -5;
        bottom: 0;
        right:0;
        width: 70%;
        height: auto;
        }
    }